/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.bottles-page__img {
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto; }

.bottles-img__xxx {
  background-image: url("../img/.jpg");
  background-position: center; }

.brew-page__img {
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto; }

.brew-img__river {
  background-image: url("../img/mtfuji.jpg");
  background-position-y: 45%; }

.brew-img__rice {
  background-image: url("../img/rice.jpg");
  background-position: top; }

.brew-img__kinjou {
  background-image: url("../img/kinjou.jpg");
  background-position-y: 20%; }

.footer {
  max-width: 1024px;
  margin: 100px auto;
  overflow: hidden; }

.footer-map {
  height: 300px;
  width: 60%;
  float: left; }

.footer-about {
  width: 30%;
  margin: 0 4% 0 6%;
  float: left; }

.footer-about__title {
  margin: 2em 0 1em;
  font-size: 125%; }

.footer-about-list {
  margin: 1em 0;
  font-size: 87.5%; }

.footer-copyright {
  font-size: 68.75%;
  margin: 4em 0; }

@media screen and (max-width: 800px) {
  .footer-map {
    width: 88%;
    margin: 0 6%;
    clear: both; }
  .footer-about {
    width: 88%;
    clear: both; } }

.gnav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  z-index: 1; }

.gnav-menu {
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100%;
  width: 300px;
  padding-top: 50px;
  background-color: black; }

.gnav-menu__button {
  display: block;
  padding: 0.5em 1.0em;
  color: #eee;
  text-decoration: none; }

.gnav-toggle {
  position: absolute;
  top: 0px;
  margin: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.gnav-toggle__icon, .gnav-open__icon--n1, .gnav-open__icon--n2, .gnav-open__icon--n3 {
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0px; }

.gnav-open__icon--n1 {
  -webkit-transform: rotate(0deg) translateY(-5px);
          transform: rotate(0deg) translateY(-5px); }

.gnav-open__icon--n2 {
  -webkit-transform: rotate(0deg) translateY(0px);
          transform: rotate(0deg) translateY(0px); }

.gnav-open__icon--n3 {
  -webkit-transform: rotate(0deg) translateY(5px);
          transform: rotate(0deg) translateY(5px); }

/*
.gnav-close__icon--n1{
  @extend .gnav-toggle__icon;
  transform: rotate(405deg) translateY(0px);
}

.gnav-close__icon--n2{
  @extend .gnav-toggle__icon;
  transform: rotate(360deg) translateY(0px);
}

.gnav-close__icon--n3{
  @extend .gnav-toggle__icon;
  transform: rotate(135deg) translateY(0px);
}
*/
.history-page__img {
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto; }

.history-img__kura {
  background-image: url("../img/enshu.jpg");
  background-position: center; }

.history-img__book {
  background-image: url("../img/shouten.jpg");
  background-position: center; }

.top-intro {
  position: relative;
  background-color: #000; }

.top-intro__bg {
  height: 400px;
  padding-top: 120px;
  padding-bottom: 120px; }

.top-intro__logo {
  width: 100%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadeIn 2s ease-in-out 0s 1 normal;
          animation: fadeIn 2s ease-in-out 0s 1 normal; }

.top-copy, .top-news {
  padding: 200px 0 90px;
  background-image: url("../img/sake.jpg");
  background-size: cover;
  background-position: center; }

.top-copy__text {
  margin-bottom: 90px;
  font-size: 200%;
  font-family: serif;
  text-align: center; }

.top-bottles {
  padding: 0 0 30px;
  background: #eee; }

.top-bottles-list {
  margin-bottom: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.top-bottles__item {
  width: 50%;
  height: 240px;
  position: relative;
  color: #000;
  font-family: serif;
  background-color: #fff;
  background-size: cover;
  background-position: center 70%;
  background-image: url("../img/shiboritate.jpg"), url("../img/yamadanishiki.jpg"), url("../img/homarefuji.jpg"), url("../img/omachi.jpg");
  border: solid 1px #eee;
  box-sizing: border-box; }

.top-bottles__item:last-child {
  margin-right: 0px; }

.top-bottles-item__title {
  position: absolute;
  bottom: 10px;
  left: 20px; }

.top-bottles-item__name {
  font-size: 175%; }

.top-brand {
  padding: 200px 0 90px;
  background-image: url("../img/kura.jpg");
  background-size: cover;
  background-position: center bottom; }

.top-brand__text {
  margin-bottom: 90px;
  font-size: 30px;
  font-family: serif;
  text-align: center; }

.top-news {
  padding: 60px 0;
  background: #ccc; }

.top-link {
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff; }

.top-link img:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.top-link-list {
  display: block; }

.top-link-list__img {
  width: 25%;
  float: left;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  box-sizing: border-box; }

@media screen and (max-width: 1024px) {
  .top-link-list__img {
    width: 50%;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000; } }

@media screen and (max-width: 800px) {
  .top-bottles__item {
    width: 100%;
    border-left: none;
    border-right: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

body {
  background-color: #000; }

a {
  color: inherit;
  text-decoration: none; }

.wrapper {
  font-family: yugothic;
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
  min-width: 320px; }

.global-btn, .global-btn-invert {
  margin: 1.5em auto;
  padding: 10px 0;
  width: 240px;
  border: solid 2px #eee;
  text-align: center; }

.global-btn a, .global-btn-invert a, global-btn-invert a {
  display: block; }

.global-btn:hover, .global-btn-invert:hover {
  background-color: rgba(238, 238, 238, 0.3); }

.global-btn-invert {
  color: #000;
  border-color: #000; }

.global-btn-invert:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.page .global-btn-invert {
  margin: 4em auto; }

.title {
  margin: 90px auto;
  text-align: center;
  font-family: serif;
  font-size: 200%; }

.page {
  max-width: 864px;
  margin: 0 auto;
  padding: 60px 80px;
  background-color: #eee;
  color: #000; }

.page h2 {
  margin: 2em auto;
  font-family: serif;
  font-size: 150%; }

.page h3 {
  margin: 3em auto 1em;
  font-family: serif;
  font-size: 125%; }

.page p {
  margin: 1.5em auto;
  font-size: 87.5%; }

@media screen and (min-width: 800px) {
  .pc-hidden {
    display: none; } }

@media screen and (max-width: 800px) {
  .page {
    padding: 20px; }
  .sp-hidden {
    display: none; } }
