extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  include ./module/common/_gnav

  .top
    section.top-intro
      .top-intro__bg
        .top-intro__logo

    section.top-copy
      .top-copy__text
        | 純米酒のこだわりは
        span.sp-hidden
          | 、
        br.pc-hidden
        | 素材のこだわり
      p.global-btn
        a(href="/brew.html")
          | 喜平の酒づくり

    section.top-bottles
      ul.top-bottles-list
        li.top-bottles__item
          .top-bottles-item__title
            p.top-bottles-item__class
              | 純米酒（期間限定）
            h3.top-bottles-item__name
              | しぼりたて

        li.top-bottles__item
          .top-bottles-item__title
            p.top-bottles-item__class
              | 純米大吟醸
            h3.top-bottles-item__name
              | 山田錦

        li.top-bottles__item
          .top-bottles-item__title
            p.top-bottles-item__class
              | 特別純米酒
            h3.top-bottles-item__name
              | 誉富士

          li.top-bottles__item
            .top-bottles-item__title
              p.top-bottles-item__class
                | 純米酒
              h3.top-bottles-item__name
                | 雄町

      p.global-btn-invert
        a(href="bottles.html")
          | 商品一覧

    section.top-brand
      .top-brand__text
        | 創業100年を迎え
        span.sp-hidden
          | 、
        br.pc-hidden
        | 新たなる挑戦へ
      p.global-btn
        a(href="history.html")
          | 喜平の歴史

    //-
      section.top-news
        ul.top-news-list
          li.top-news__item
            | 期間限定「ひやおろし」販売開始
          li.top-news__item
            | 期間限定「ひやおろし」販売開始
          li.top-news__item
            | 期間限定「ひやおろし」販売開始
          li.top-news__item
            | 期間限定「ひやおろし」販売開始
        p.global-btn
          | 過去のお知らせ

    section.top-link
      ul.top-link-list
        li.top-link-list__item
          a(href="http://www.sakehiraki.com" target="_blank")
            img.top-link-list__img(src="/img/hiraki.png")
        li.top-link-list__item
          a(href="http://www.hirakiya.net/" target="_blank")
            img.top-link-list__img(src="/img/hirakiya.png")
        li.top-link-list__item
          a(href="http://www.hirakishuzo.co.jp/" target="_blank")
            img.top-link-list__img(src="/img/okayama.png")
        li.top-link-list__item
          a(href="http://hamamatsushuzo.com" target="_blank")
            img.top-link-list__img(src="/img/hamamatsu.png")

  include ./module/common/_footer
