extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  include ./module/common/_gnav

  .top
    section.top-intro
      .top-intro__bg
      .top-intro__logo

    section.top-copy
      .top-copy__text
        | いいかんじのコピー
      p.global-btn
        | 喜平の酒づくり

    section.top-bottles
      ul.top-bottles-list
        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あお

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あか

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あお

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あか

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あお

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あか

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あお

        li.top-bottles__item
          .top-bottles-item__photo
          p.top-bottles-item__class
            | 純米大吟醸
          h3.top-bottles-item__title
            | 山田錦 あか

      p.global-btn
        | 商品一覧

    section.top-news
      ul.top-news-list
        li.top-news__item
          .top-news-item__text
            h3.top-news-item__title
              | 期間限定「ひやおろし」販売開始
            p.top-news-item__summary
              | ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。
          .top-news-item__photo

        li.top-news__item
          .top-news-item__text
            h3.top-news-item__title
              | 期間限定「ひやおろし」販売開始
            p.top-news-item__summary
              | ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。
          .top-news-item__photo

        li.top-news__item
          .top-news-item__text
            h3.top-news-item__title
              | 期間限定「ひやおろし」販売開始
            p.top-news-item__summary
              | ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。
          .top-news-item__photo

        li.top-news__item
          .top-news-item__text
            h3.top-news-item__title
              | 期間限定「ひやおろし」販売開始
            p.top-news-item__summary
              | ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。ニュースの本文。
          .top-news-item__photo

      p.global-btn
        | ニュース一覧

    section.top-brand
      .top-brand__text
        | いいかんじのコピー
      p.global-btn
        | 喜平の歴史

  include ./module/common/_footer
