.footer

  iframe.footer-map( src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26160.400628869727!2d138.367624!3d34.9553535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601a499a686912f7%3A0x305a53265ace0ef5!2s131+Mariko+Shinden%2C+Suruga-ku%2C+Shizuoka-shi%2C+Shizuoka-ken+421-0111!5e0!3m2!1sen!2sjp!4v1489990652900"  frameborder="0" style="border:0" allowfullscreen)

  .footer-about
    h3.footer-about__title
      | 静岡平喜酒造 株式会社

    ul.footer-about-list
      li.footer-about-list__item
        | 静岡県静岡市 駿河区丸子新田 1-1
      li.footer-about-list__item
        | 054-259-0758

    ul.footer-about-list
      li.footer-about-list__item
        | 代表取締役
        br
        | 戸塚 敦雄

    p.footer-copyright
      | Copyright (C) 2017 静岡平喜酒造 All Rights Reserved.
