nav.gnav
  div.gnav-menu
    a.gnav-menu__button(href="")
      | ニュース
    a.gnav-menu__button(href="")
      | 喜平の酒造り
    a.gnav-menu__button(href="")
      | 商品一覧
    a.gnav-menu__button(href="")
      | 100年間の歴史
  div.gnav-toggle.gnav-open
    div.gnav-open__icon--n1
    div.gnav-open__icon--n2
    div.gnav-open__icon--n3
  div.gnav-toggle.gnav-close
    div.gnav-close__icon--n1
    div.gnav-close__icon--n2
    div.gnav-close__icon--n3
