.bottles-page__img{
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto;
}

.bottles-img__xxx{
  background-image: url("../img/.jpg");
  background-position: center;
}
