.brew-page__img{
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto;
}

.brew-img__river{
  background-image: url("../img/mtfuji.jpg");
  background-position-y: 45%;
}

.brew-img__rice{
  background-image: url("../img/rice.jpg");
  background-position: top;
}

.brew-img__kinjou{
  background-image: url("../img/kinjou.jpg");
  background-position-y: 20%;
}
