 .history-page__img{
  height: 200px;
  background-color: #000;
  background-size: cover;
  margin: 0 auto;
}

.history-img__kura{
  background-image: url("../img/enshu.jpg");
  background-position: center;
}

.history-img__book{
  background-image: url("../img/shouten.jpg");
  background-position: center;
}
